<div class="row">
    <div class="col-md-6 offset-3 ">
    <h1 class="text-info"> User Not Found </h1>
    <hr/>
    <a class="btn btn-outline-info" asp-controller="Movie" asp-action="Index"> Home Page</a>
        </div>
</div>